/* Changes the background color of the body.*/
body {
	background-color: cyan;
	}
	/*Changes the size and height of the logo/image.*/
	#homepagebanner {
	width: 100%;
	height: 50px;
	}
	/*Manipulates the appearance of the list that will be used for navigation. */
	ul {
	list-style-type: none;
	width: 120;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
	background-color: black;
	}
	/*Changes the position of the list */
	li {
	float: left;
	}
	/* Changes the text properties of the list. */
	li a {
	display: block;
	color: white;
	text-align: Center;
	padding: 16px 28px;
	text-decoration: none;
	}
	li a: hover {
	background-color: gray;
	color: white;
	}
	/*Changes the text properties of the heading. */
	h1 {
	font-family: Bodoni MT Black;	
	color: black;
	font-size: 26px;
	text-align: Center;
	}
	/*Changes the text properties of the heading. */
	h2 {
	color: Black;
	font-size: 18px;
	text-align: Center;
	}
	/*Changes the text properties of the heading. */
	h3, h4 {
	color: Black;
	font-size: 16px;
	text-align: Center;
	}
	/*Changes the properties of the form. */
	form {
	text-align: Center;
	font-family: Bodoni MT Black;
	text-shadow: None;
	box-shadow: None;
	}
	/*Changes the properties of the button. */
	input[type=button]{
	width: 10%;
	height: 30px;
	background-color: cyan;
	}
	/*Changes the properties of the button. */
	input[type=reset]{
	width: 10%;
	height: 30px;
	background-color: cyan;
	}
	/*Changes the properties of the radio button group. */
	#PatientCategory {
	text-align: left;
	width: 19%;
	margin-left: 41%;
	}
	/*Changes the hover properties of the button. */
	input[type=button]: hover {
	border: none;
	background: green;
	}
	/*Changes the hover properties of the button. */
	input[type=reset]: hover {
	border: none;
	background: red;
	}
	/*Changes the properties of the display paragraph. */
	#display {
	background-color: lightskyblue;
	}
/* Changes the properties of the footer. */
footer {
	background-color: black;
	text-align: center;
	}
	/* Changes the text peoperties of the referenced paragraph. */
	#footertextid {
	color: white;
	}